:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-site-color: #2196f3;
  --contacts-color: #757575;
  --secondary-bg-color: #2f303a;
  --secondary-text-color: #757575;
  --button-bg-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary-color);
  background-color: #ffffff;
}

.nav-list .active {
  font-weight: 700;
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.contact-link {
  color: var(--contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-first {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #2196f3;
}

.logo-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primary-text-color);
}

.contact-footer {
  color: var(--contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.adress-link {
  color: var(--primary-white-color);
  background-color: var(--secondary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}
